@{
    Layout = "~/Views/Shared/_FinalProjLayout.cshtml";
}
<nav class="transparent navbar-fixed">
    <div class="nav-wrapper">
        <a class="center"><img src="~/Content/Images/logo.png" style="max-width: 100%; height: 5em; object-position:center"></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="sass.html" style="color:black">Sass</a></li>
            <li></li>
            <li><a href="badges.html">Components</a></li>
            <li><a href="collapsible.html">JavaScript</a></li>
        </ul>
    </div>
</nav>

<div class="carousel carousel-slider">
    <a class="carousel-item" href="#one!"><img src="~/Content/Images/ust.jpg" style="max-width: 110%; height: 49em;"></a>
    <a class="carousel-item" href="#one!"><img src="~/Content/Images/ust(1).jpg" style="max-width: 110%; height: 49em;"></a>
    <a class="carousel-item" href="#one!"><img src="~/Content/Images/ust(2).jpg" style="max-width: 110%; height: 49em;"></a>
    <a class="carousel-item" href="#two!"><img src="~/Content/Images/ust bg.jpg" style="max-width: 110%; height: 49em;"></a>
</div>

