@{
    Layout = "~/Views/Shared/_FinalProjLayout.cshtml";
}
<style>
    body {
        font-family: 'Poppins', sans-serif;
        background-color: rgba(255,254,200);
        background-image: url('/Content/Images/ust(1).jpg');
        background-position: center;
        min-height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
    }
    shadow {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        transition: box-shadow 0.3s ease;
    }

    .shadow:hover {
        box-shadow: 0 15px 60px rgba(0, 0, 0, 1);
    }

    .shadow-1 {
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
        transition: box-shadow 0.3s ease;
    }

        .shadow-1:hover {
            box-shadow: 0 20px 40px rgba(205, 254, 194, 1);
        }

    .shadow-2 {
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
        transition: box-shadow 0.3s ease;
    }

        .shadow-2:hover {
            box-shadow: 0 20px 40px rgba(241, 169, 160, 1);
        }



    .card-rounded {
        border: 2px solid black;
        border-radius: 20px;
        overflow: hidden;
        width: 60%;
        margin-left: 12em;
    }
</style>
<nav class="transparent navbar-fixed" ng-init="initVoteSet()">
    <div class="nav-wrapper">
        <a class="brand-logo black-text"><img src="~/Content/Images/thomvote_logo.png" alt="Alternate Text" style="width:100%; height:2em; bottom:10%;" /></a>
        <a class="center brand-logo black-text clawed-text" style="font-size:47px;">Decision that Leave a Mark</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="CandidateStud" style="color:black">Candidates</a></li>
            <li></li>
            <li><a href="badges.html" style="color:black">Vote</a></li>
            <li><a href="Homepage" style="color:black">About Us</a></li>
        </ul>
    </div>
</nav>
<div class="row">
    <div class="col s2 m2 l2">
    </div>
    <div class="col s8 m8 l8">
        <div class="row center">
            <div class="col s12 m12 l12">
                <div class="card card-rounded shadow" style="margin-top: 11em; background: linear-gradient(90deg, #f4d16e, #e6af5d);">
                    <div class="card-content black-text">
                        <div class="row">
                            <div class="col s12 m12 l12">
                                <span class="card-title" style="font-size: 40px; font-family: Poppins, Courier, monospace">•• Login ••</span>
                                <span class="card-title" style="font-size: 15px; font-family: Poppins ">Please enter your Student Number to Confirm you are Enrolled as a Student</span>
                                <div class="row">
                                    <div class="input-field col s12 m12 l12">
                                        <i class="material-icons prefix">people</i>
                                        <input id="uEmail" type="text" class="validate" ng-model="uStudNum" required>
                                        <label for="uEmail" style="font-family: Poppins">Student Number*</label>
                                    </div>
                                </div>
                                <div class="col s12 m12 l12">
                                    <div class="col s12 m6 l6">
                                        <a class="waves-effect waves-light red lighten-3 btn-large col s12 m12 l12 shadow-1 black-text" style="font-size: 20px; font-family: Poppins; width:100%;" href="Homepage"><i class="material-icons left black-text">keyboard_return</i>Go Back</a>
                                    </div>
                                    <div class="col s12 m6 l6">
                                        <a class="waves-effect waves-light green lighten-3 btn-large col s12 m12 l12 shadow-1 black-text" style="font-size: 20px; font-family: Poppins; width:100%;" ng-click="studLogin(curSet.set_num)"><i class="material-icons left black-text">keyboard_tab</i>Login</a>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col s2 m2 l2">
    </div>
</div>