body {
}
@keyframes slideInFromLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.slide-in-left {
    opacity: 0;
    animation: slideInFromLeft 0.8s ease-out forwards;
}

.slide-in-right {
    opacity: 0;
    animation: slideInFromRight 0.8s ease-out forwards;
}

