<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link type="text/css" href="~/Content/materialize.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" href="~/Content/font.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <script src="~/Scripts/materialize.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <style>
        .clawed-text {
            font-family: 'FeastOfFlesh', sans-serif;
        }
        .navbar-fixed {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: 1000;
        }

        .nav-wrapper {
            background: #FFEE8C !important;
            transition: background-color 0.3s ease;
            text-decoration: none;
        }

        .carousel-item img {
            max-width: 100%;
            height: auto;
        }
    </style>

</head>
<body ng-app="FinalProj" ng-controller="FinalProjController">
    <div>
        @RenderBody()
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.carousel');
            var instance = M.Carousel.init(elems, {
                fullWidth: true
            });
        });

    </script>
    <script src="~/Scripts/jquery-3.7.0.min.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/AngularScripts/Module.js"></script>
    <script src="~/Scripts/AngularScripts/Service.js"></script>
    <script src="~/Scripts/AngularScripts/Controller.js"></script>
</body>
</html>
